@import "https://fonts.googleapis.com/css?family=Varela+Round";
body, html {
    background: transparent;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

section {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    
    display: table;
}

#hero {
    background-image: url('https://images.unsplash.com/photo-1460722665083-c2599113f7e0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fd835aa067c6314d8c9fcf79136d42a1');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    color: white;
}

#hero h1 {
    font-family: 'Varela Round';
}

#s1, #s2, #s3 {
    background-color: white;
    color: black;
}

section p {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
}

p::first-letter {
    margin-left: 5%;
}

.center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
 
 #quiz {
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
  font-family: 'Quicksand';
}

#quiz h1 {
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  text-align: left;
  line-height: 44px;
}

#quiz button {
  text-align: center;
  margin: 8px 0px 0px 8px;
  padding: 2vh 8vh;
  background: transparent;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.5s ease;
  font-family: 'Quicksand';
}

#quiz button:hover:enabled {
  background: black;
  color: white;
  border-radius: 30px;
}

#quiz button:focus {
  outline: none;
}


#quiz button:disabled {
  opacity: 0.5;
  cursor: default;
}

#question {
  padding: 20px;
  background: #FAFAFA;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

#question input[type=radio] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #FAE3BB;
  color: #4C3000;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
}

#question label:hover {
  background: #EBBB67;
}

#question input[type=radio]:checked + label {
  background: #CB8306;
  color: #FAFAFA;
}

#quiz-results {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #FAFAFA;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #31706c;
  font-size: 20px;
}

#quiz-results-score b {
  color: #00403C;
  font-weight: 600;
  font-size: 20px;
}